<h1>The request object</h1>

<table>

  <tbody>
    <tr>
      <th>
        Host
      </th>
      <td data-test-id="host">
        {{this.request.host}}
      </td>
    </tr>

    <tr>
      <th>
        Protocol
      </th>
      <td data-test-id="protocol">
        {{this.request.protocol}}
      </td>
    </tr>

    <tr>
      <th>
        Headers
      </th>
      <td data-test-id="headers">
        {{#each-in this.request.headers.headers as |header value|}}
          <div data-header-name={{header}}>
            {{header}}: {{value}}
          </div>
        {{/each-in}}
      </td>
    </tr>

    <tr>
      <th>
        Query params
      </th>
      <td data-test-id="query-params">
        {{#each-in this.request.queryParams as |param value|}}
          <div>
            {{param}}: {{value}}
          </div>
        {{/each-in}}
      </td>
    </tr>

    <tr>
      <th>
        Path
      </th>
      <td data-test-id="path">
        {{this.request.path}}
      </td>
    </tr>

    <tr>
      <th>
        Method
      </th>
      <td data-test-id="method">
        {{this.request.method}}
      </td>
    </tr>

    <tr>
      <th>
        Cookies
      </th>
      <td>
        {{#each-in this.request.cookies as |cookie value|}}
          <div>
            {{cookie}}: {{value}}
          </div>
        {{/each-in}}
      </td>
    </tr>
  </tbody>
</table>
