{{docs-header}}

{{#docs-viewer as |viewer|}}

  {{#viewer.nav as |nav|}}
    {{nav.section 'Introduction'}}
    {{nav.item 'Why test FastBoot?' 'docs.index'}}
    {{nav.item 'Quickstart' 'docs.quickstart'}}

    {{nav.section 'Tips & tricks'}}
    {{nav.item 'Debugging' 'docs.debugging'}}

    {{nav.section 'Test types'}}
    {{nav.item 'HTML tests' 'docs.html'}}
    {{nav.item 'Document tests' 'docs.document'}}
    {{nav.item 'Status code tests' 'docs.status-code'}}
  {{/viewer.nav}}

  {{#viewer.main}}
    <div class="docs-container">
      <div class="docs-section">
        {{outlet}}
      </div>
    </div>
  {{/viewer.main}}

{{/docs-viewer}}
